* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #181717;
    line-height: 1.6;
}

header {
    background-color: #206fa7;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #D6EAF8;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #206fa7;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
